body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

* {
  margin: 0;
  background-color: gainsboro;
}
.button-container {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  

}

.fb-login-button {
  padding-top: 1rem;
  width: 200px;
  /*padding-left: 100px;*/
}

#status {
  color: red;
  font-weight: bold;
  text-align: center;
  padding-top: 0.5rem;
}


.title {
  width: auto;
  text-align: center;
}

.about {
  padding-top:  2rem;
}

.table-main {
  padding-top: 3rem;
  text-align: center;
}
.table-subtitle {
  display: flex
}

.table-subtitle-left, .table-subtitle-right {
  padding-top: 1rem;
  width: 50%;
}

grid-container{
  display: grid;
  grid-template-columns: auto auto;
  background-color: #2196F3;
  padding: 10px;
}

