* {
    margin: 0;
}
.button-container {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.fb-login-button {
    padding-top: 1rem;
    /*padding-left: 100px;*/
}




.title {
    width: auto;
    text-align: center;
}

.about {
    padding-top:  2rem;
}

.table-main {
    padding-top: 3rem;
    text-align: center;
}
.table-subtitle {
    display: flex
}

.table-subtitle-left, .table-subtitle-right {
    padding-top: 1rem;
    width: 50%;
}

