extends layout

block content
   head
      script
         include ../public/javascripts/client.js
      link(rel='stylesheet', href='/stylesheets/style.css')
      //-This script is to allow for the oemebed (embeding) of tweets in the site
      |<script>window.twttr = (function(d, s, id) {
      |var js, fjs = d.getElementsByTagName(s)[0],
      |t = window.twttr || {};
      |if (d.getElementById(id)) return t;
      |js = d.createElement(s);
      |js.id = id;
      |js.src = "https://platform.twitter.com/widgets.js";
      |fjs.parentNode.insertBefore(js, fjs);
      |
      |t._e = [];
      |t.ready = function(f) {
      |t._e.push(f);
      |};
      |
      |return t;
      |}(document, "script", "twitter-wjs"));</script>
   body
    //-The body is compromised of the Title, About, Button, Table, Tweets, and Image(media)
    | <div class="title">
    |   <h1>Tweet and Photo Matcher</h1>
    |   <div class="about">
    |       <span>
    |             With the use of Imgur and Twitter we are able to match the users tweets with a related images on Imgur. This requires use of a user's Twitter. 
    |             At the moment a dummy Twitter account is used. In the future using the user's Twitter account will be allowed. The resulting match will be
    |             displayed below.
    |       </span>
    |   </div>
    //-The button is what starts the calls to the Server to get the Tweet and Media.
    |  <div class="button-fetch">
    |          <button onclick="get_response()">Click Me!</button>
    |  </div>
    |</div>
    | <div class="table-main">
    |   <div class="table-title">
    |       <h2>It's A Match!</h2>
    |   </div>
    |   <div class="table-subtitle">
    |       <div class="table-subtitle-left">
    |           <h3>User's Twitter Text</h3>
    |       </div>
    |       <div class="table-subtitle-right">
    |           <h3>Found Related Image</h3>
    |       </div>
    |   </div>
    |    <hr>
    //-The grid-container has the div's that will contain the Tweet and image(media) once the response has been to received.
    |    <div class="grid-container">
    |       <div class="tweet" id="tweet"></div>
    |       <div class="imgur"><img id="image" src="" alt="Click the button!"><video width="320" height="240" autoplay><source id="video" src="" type="video/mp4" /></div>
    |     </div>
    |</div>
    | </div>
    