extends layout

block content
   head
      script
         include ../public/javascripts/client.js
      link(rel='stylesheet', href='/stylesheets/style.css')
   body
    | <div class="title">
    |   <h1>Tweet and Photo Matcher</h1>
    |   <div class="about">
    |       <span>
    |             With the use of Imgur and Twitter we are able to match the users tweets with a related images on Imgur. This requires use of a user's Twitter. 
    |             At the moment a dummy Twitter account is used. In the future using the user's Twitter account will be allowed. The resulting match will be
    |             displayed below.
    |       </span>
    |   </div>
    |</div>
    | <div class="table-main">
    |   <div class="table-title">
    |       <h2>It's A Match!</h2>
    |   </div>
    |   <div class="table-subtitle">
    |       <div class="table-subtitle-left">
    |           <h3>User's Twitter Text</h3>
    |       </div>
    |       <div class="table-subtitle-right">
    |           <h3>Found Related Image</h3>
    |       </div>
    |   </div>
    |</div>
    |<hr>
    | </div>
    